* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: rgb(37, 40, 42);
}
.section {
  background-color: rgb(37, 40, 42);
  width: 100%;
  height: 100%;
}
.wrapper {
  margin: 0 auto;
}
main {
  display: grid;
  grid-template-areas:
    'header header'
    'title control';
  /* 3 столбца */

  padding-top: 3vh;
  margin: 0 auto;
  width: 90%;
}
figure {
  background-color: black;
  border-radius: 3%;
  grid-area: header;
}
.title {
  grid-area: title;
}
.nav-carousel {
  grid-area: control;
}
main input {
  display: none;
}

.slide {
  margin: 0 auto;
  text-align: center;
  height: 500px;
}

img {
  height: inherit;
  border-radius: 3%;
  height: 100%;
}

.slide,
.text {
  display: none;
}

#switcher_1:checked ~ .slide1 {
  background-color: rgb(141, 47, 47);
  width: 50%;
}
#switcher_1:checked ~ figure > .switcher_1,
#switcher_2:checked ~ figure > .switcher_2,
#switcher_3:checked ~ figure > .switcher_3,
#switcher_4:checked ~ figure > .switcher_4,
#switcher_5:checked ~ figure > .switcher_5 {
  display: block;
}
#switcher_1:checked ~ .title > .switcher_1,
#switcher_2:checked ~ .title > .switcher_2,
#switcher_3:checked ~ .title > .switcher_3,
#switcher_4:checked ~ .title > .switcher_4,
#switcher_5:checked ~ .title > .switcher_5 {
  display: block;
}
.title {
  padding-top: 2.5rem;
  display: flex;
  justify-content: flex-start;
}
.nav-carousel {
  display: flex;
  justify-content: flex-end;
}

.text {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

main label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 3rem 1rem;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out 0.5s;
  -moz-transition: background ease-in-out 0.5s;
  -o-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
}

main label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #ddd;
}

main label:after {
  border: 2px solid #ddd;
  content: ' ';
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@media all and (min-width: 580px) and (max-width: 950px) {
  .slide {
    margin: 0 auto;
    text-align: center;
    height: 300px;
  }
}

@media all and (max-width: 580px) {
  .slide {
    margin: 0 auto;
    text-align: center;
    height: 200px;
  }
}
@media all and (max-width: 500px) {
  .slide {
    margin: 0 auto;
    text-align: center;
    height: 180px;
  }
  main {
    display: block;
  }
  .nav-carousel {
    justify-content: center;
  }
}
